h1{
    font-family: 'Dancing Script', cursive;
}
.carousel-item{
    width: 100%;
    height: 80vh;
}
.card-body img{
    min-width: 50%;
    max-height: 200px;
}

/* #home nav .nav-link{
    color: black!important;
} */
.carousel-inner .carousel-item img{
    width: 100%;
    height: 600px;
    object-fit: cover;
}
.carousel-inner .carousel-item h5,p{
    color: white;
}